<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prevalence Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div id="app"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom/umd/react-dom.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-renderer/dash_renderer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-core-components/dash_core_components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-html-components/dash_html_components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-table/dash_table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-bootstrap-components/dash_bootstrap_components.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
